<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common_header"></head>
<body>

<div th:replace="fragments/navbar :: navbar(holidays)"></div>

<div class="container">
    <a href="/holiday">&#60; zurück zur Übersicht</a>
    <!--/*@thymesVar id="holiday" type="org.mboyz.holidayplanner.holiday.Holiday"*/-->
    <h2 th:text="${holiday.name}"></h2>
    <div class="holiday_details">
        <ul>
            <li th:text="'Location: ' + ${holiday.location}"></li>
            <li th:text="'Start: ' + ${holiday.startDate}"></li>
            <li th:text="'Ende: ' + ${holiday.endDate}"></li>
        </ul>

        <h3>Teilnehmer:</h3>
        <ul>
            <li th:each="participation : ${holiday.participations}" >
                <img th:src="${participation.user.imageUrl}"/>
                <a th:href="'/user/' + ${participation.user.id}" th:text="${participation.user.givenName}"></a>
            </li>
        </ul>

        <!--/*@thymesVar id="isParticipating" type="kotlin.Boolean"*/-->
        <a th:if="${isParticipating == false}" th:href="'/holiday/' + ${holiday.id} + '/participate'">Ich nehme teil.</a>
        <a th:if="${isParticipating == true}" th:href="'/holiday/' + ${holiday.id} + '/unparticipate'">Ich kann doch nicht teilnehmen.</a>

        <h4>Kommentare:</h4>

        <p th:each="comment : ${holiday.comments}" th:text="'['+ ${comment.createdFormatted()} + '] ' + ${comment.user.givenName} + ': ' + ${comment.text}"></p>

        <!--/*@thymesVar id="holiday" type="org.mboyz.holidayplanner.holiday.Holiday"*/-->
        <form action="#" th:action="'/holiday/' + ${holiday.id} + '/add-comment'" method="post">
            <label>
                Kommentar:
                <input name="comment"/>
            </label>

            <button name="send">Abschicken</button>
        </form>

    </div>
</div>
</body>
</html>