<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Mboyz</title>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

<div th:replace="fragments/navbar :: navbar(holidays)"></div>

<div class="container">
    <a href="/holiday">&#60; zurück zur Übersicht</a>
    <!--/*@thymesVar id="holiday" type="org.mboyz.holidayplanner.holiday.Holiday"*/-->
    <h2 th:text="${holiday.name}"></h2>
    <div class="holiday_details">
        <ul>
            <li th:text="'Location: ' + ${holiday.location}"></li>
            <li th:text="'Start: ' + ${holiday.startDate}"></li>
            <li th:text="'Ende: ' + ${holiday.endDate}"></li>
        </ul>

        <h3>Teilnehmer:</h3>
        <ul>
            <li th:each="participation : ${holiday.participations}" th:text="${participation.user.givenName}"></li>
        </ul>

        <a th:href="'/holiday/' + ${holiday.id} + '/participate'">Ich nehme teil.</a>
    </div>
</div>
</body>
</html>