build/
out/
.idea/
.ideaDataSources/
dataSources/
.gradle/
*.ipr
*.iml
*.iws
node_modules/
src/main/resources/static/js/
phantomjsdriver.log
:::term
.env
target
src/test/resources/secret.properties
lib/
src/main/resources/static/built/