<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common_header"></head>
<body>
<div th:replace="fragments/navbar :: navbar(users)"></div>

<div class="container">
    <h2>Registrierte Nutzer</h2>
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>Bild</th>
            <th>Name</th>
        </tr>
        </thead>
        <!--/*@thymesVar id="allUsers" type="java.util.List"*/-->
        <!--/*@thymesVar id="user" type="User"*/-->
        <tr th:each="user : ${allUsers}" >
            <td><img th:src="${user.imageUrl}" /></td>
            <td><a th:href="'/user/' + ${user.id}" th:text="${user.givenName} + ' ' + ${user.familyName}"></a></td>
        </tr>
    </table>
</div>
</body>
</html>