<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common_header"></head>
<body>

<div th:replace="fragments/navbar :: navbar(holidays)"></div>

<div class="container">
    <h2>Neuen Urlaub anlegen:</h2>

    <!--/*@thymesVar id="holidayEntity" type="org.mboyz.holidayplanner.holiday.persistence.HolidayEntity"*/-->
    <form action="#" th:action="@{/holiday/create}" th:object="${holidayEntity}" method="post">
        <label>
            Name:
            <input th:field="*{name}"/>
        </label>
        <label>
            Location:
            <input th:field="*{location}"/>
        </label>
        <label>
            Start:
            <input type="date" th:field="*{startDate}"/>
        </label>
        <label>
            Ende:
            <input type="date" th:field="*{endDate}"/>
        </label>

        <button name="saveHoliday">Bestätigen</button>
    </form>
</div>
</body>
</html>