<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common_header"></head>
<body>

<div th:replace="fragments/navbar :: navbar(holidays)"></div>

<div class="container">
    <h2>Alle Urlaube</h2>
    <p><a href="/holiday/create">Neuen Urlaub anlegen</a></p>

    <div class="card-columns">
        <!--/*@thymesVar id="allHolidays" type="java.util.List"*/-->
        <!--/*@thymesVar id="holiday" type="Holiday"*/-->
        <div class="card" th:each="holiday : ${allHolidays}">
            <img class="card-img-top img-fluid" src="https://media.giphy.com/media/TBmbqLhbYPiKc/giphy.gif" />
            <div class="card-block">
                <h4 class="card-title" th:text="${holiday.name}"></h4>
                <table>
                    <tr>
                        <td><i class="fa fa-plane"></i></td>
                        <td th:text="${holiday.location}"></td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-calendar-check-o"></i></td>
                        <td th:text="${holiday.startDate}"></td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-calendar-times-o"></i></td>
                        <td th:text="${holiday.endDate}"></td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-users"></i></td>
                        <td th:text="${holiday.participations.size()}"></td>
                    </tr>
                </table>
                <a th:href="'/holiday/' + ${holiday.id}" class="btn btn-primary">Details</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>